<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="Tailspin.SpaceGame.Web.Models2" value="https://pkgs.dev.azure.com/333jzs/a59abc19-69bd-469d-a203-981caa76b5bb/_packaging/Tailspin.SpaceGame.Web.Models2/nuget/v3/index.json" />
  </packageSources>
</configuration>
